.container {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: center
}

.loginbtn {

}

.register input {
    display: flex;
    flex-direction: row;
}

.login input {
    display: flex;
    flex-direction: row;
}

.registerbtn {

}

.everythingContainer {
    display: none;
}

.todoContainer {
    border: 2px solid grey;
    padding: 1%;
    margin: 1%;
    display: none
}

.todos {
    
}

.register {
    border: 2px solid grey;
    padding: 4%;
    margin: 4%;
    display: none;
}

.login {
    border: 2px solid grey;
    padding: 4%;
    margin: 4%;
    display: none;
}